
{% extends "app/dashboard.html" %}
{% load static %}

{% block titulo %}
TFS - Menu
{% endblock %}

{% block contenido %}

<div class="row">
    <div class="col-sm-4">
        <h1 class="h3 mb-4 text-gray-800">List Developer</h1>
    </div>
    <div class="col-sm-8">
        <button class="btn btn-primary float-right"  data-toggle="modal" data-target="#exampleModalScrollableNewDeve"><svg class="bi bi-plus-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd"/>
          <path fill-rule="evenodd" d="M14 1H2a1 1 0 00-1 1v12a1 1 0 001 1h12a1 1 0 001-1V2a1 1 0 00-1-1zM2 0a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2H2z" clip-rule="evenodd"/>
        </svg> Add
      </button>
    </div>
</div>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">homework progress</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Developer</th>
                <th>Proyect</th>
                <th>State</th>
                <th class="text-center">Action</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Developer</th>
                <th>Proyect</th>
                <th>State</th>
                <th class="text-center">Action</th>
            </tr>
            </tfoot>
            <tbody>
            {% for u in lista_user %}
              {% for d in lista_developers %}
                  {%if d.usuario_id == u.id %}
                      {% if u.id != request.user.id %}
                          {% for p in lista_proyecto %}
                              {% if d.proyecto_id == p.id%}
                              <tr>
                                  <td>{{u.first_name}}&nbsp;{{u.last_name}}</td>
                                  <td>{{p.nombre}}</td>
                                  <td>{%if d.activo == 1%} <span class="badge badge-success">Activo</span>{%else%}<span class="badge badge-danger">Deshabilitado</span>{%endif%}</td>
                                  <td class="text-center"> {%if d.activo == 0%}<a class="btn btn-success" href="{% url 'app:view_habilitar_developer' d.id %}"><svg class="bi bi-file-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M9 1H4a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2V8h-1v5a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1h5V1z"/>
                                      <path fill-rule="evenodd" d="M15.854 2.146a.5.5 0 010 .708l-3 3a.5.5 0 01-.708 0l-1.5-1.5a.5.5 0 01.708-.708L12.5 4.793l2.646-2.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                      </svg></a> {% else %}<a class="btn btn-danger" href="{% url 'app:view_eliminar_developer' d.id %}"><svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                      <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                  </svg>
                                  </a>{%endif%}</td>
                              </tr>
                              {%endif%}
                          {% endfor %}
                      {%endif%}
                  {%endif%}
              {% endfor %}
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<!--agrgar developer-->
<div class="modal fade" id="exampleModalScrollableNewDeve" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Add Developer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" action="{% url 'app:addDeveloper' %}" method="post" novalidate>
      {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <select class="custom-select mr-sm-2" id="CustomSelectproyect" name="CustomSelectproyect" required>
              <option value="" selected>select Proyecto</option>
              {% for p in lista_proyecto %}
                <option value="{{p.id}}">{{p.nombre}}</option>
              {% endfor %}
            </select>
            <div class="invalid-feedback">invalid proyect selection</div>
          </div>
          <div class="form-group">
            <select class="custom-select mr-sm-2" id="CustomSelectdeveloper" name="CustomSelectdeveloper" >
              <option value="" selected>select Developer</option>
              {% for u in lista_user %}
                {% if u.id != request.user.id %}
                  <option value="{{u.id}}">{{u.first_name}}&nbsp;{{u.last_name}}</option>
                  {%endif%}
              {% endfor %}
            </select>
            <div class="invalid-feedback">invalid developer selection</div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div> 

{% endblock %}