
{% extends "app/dashboard.html" %}
{% load static %}

{% block titulo %}
TFS - Menu
{% endblock %}

{% block contenido %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">homework progress</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Username</th>
                <th>Description</th>
                <th>Time worked</th>
                <th>Time remaining</th>
                <th>Date</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Username</th>
                <th>Description</th>
                <th>Time worked</th>
                <th>Time remaining</th>
                <th>Date</th>
            </tr>
            </tfoot>
            <tbody>
            {% for avances in lista_avances %}
            <tr>
            {% for u in lista_user %}
                {% if avances.usuario_id ==  u.id%}
                <td>{{u.first_name}}&nbsp;{{u.last_name}}</td>
                {% endif %}
            {%endfor%}
                <td>{{avances.descripcion}}</td>
                <td>{{avances.tiempotrabajado}}</td>
                <td>{{avances.tiemporestante}}</td>
                <td>{{avances.fecha}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}